[workspace]

members = [
  "compiler/codegen",
  "compiler/driver",
  "compiler/incremental",
  "compiler/llvm",
  "compiler/macros",
  "compiler/mlir",
  "compiler/profiling",
  "compiler/session",
  "compiler/target",
  "compiler/term",
  "examples/interpreter-in-browser",
  "examples/spawn-chain",
  "interpreter",
  "liblumen_alloc",
  "liblumen_alloc_macros",
  "liblumen_arena",
  "liblumen_beam",
  "liblumen_core",
  "liblumen_core_macros",
  "liblumen_util",
  "lumen",
  "native_implemented_functions/macro",
  "native_implemented_functions/otp",
  "native_implemented_functions/web",
  "runtimes/core",
  "runtimes/crt",
  "runtimes/full",
  "runtimes/minimal",
]

default-members = [
  "compiler/codegen",
  "compiler/driver",
  "compiler/incremental",
  "compiler/llvm",
  "compiler/macros",
  "compiler/mlir",
  "compiler/profiling",
  "compiler/session",
  "compiler/target",
  "compiler/term",
  "interpreter",
  "liblumen_alloc",
  "liblumen_alloc_macros",
  "liblumen_arena",
  "liblumen_beam",
  "liblumen_core",
  "liblumen_core_macros",
  "liblumen_util",
  "lumen",
  "native_implemented_functions/macro",
  "native_implemented_functions/otp",
  "native_implemented_functions/web",
  "runtimes/crt",
  "runtimes/full",
]

[profile.release]
# Experimentally determined to give the smallest size out of all `opt-level`s (0-3,'s','z') and
# `lto`s (true and false) for `examples/spawn-chain/pkg/spawn_chaing_bg.wasm`
opt-level = 2
lto = false

[patch.crates-io]
dashmap = { git = "https://github.com/lumen/dashmap" }

#[patch."https://github.com/eirproject/eir"]
#libeir_diagnostics = { path = "../eir/libeir_diagnostics" }
#libeir_frontend = { path = "../eir/libeir_frontend" }
#libeir_syntax_erl = { path = "../eir/libeir_syntax_erl" }
#libeir_ir = { path = "../eir/libeir_ir" }
#libeir_intern = { path = "../eir/libeir_intern" }
#libeir_lowerutils = { path = "../eir/libeir_lowerutils" }
#libeir_passes = { path = "../eir/libeir_passes" }
#libeir_util_datastructures = { path = "../eir/util/libeir_util_datastructures" }
#libeir_util_dot_graph = { path = "../eir/util/libeir_util_dot_graph" }
#libeir_util_number = { path = "../eir/util/libeir_util_number" }
#libeir_util_parse = { path = "../eir/util/libeir_util_parse" }
#libeir_util_parse_listing = { path = "../eir/util/libeir_util_parse_listing" }
#libeir_util_pattern_compiler = { path = "../eir/util/libeir_util_pattern_compiler" }

