BasedOnStyle: Google
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
BinPackArguments: true
BinPackParameters: true
IndentWidth: 4
ColumnLimit: 80
IndentCaseLabels: false
AlwaysBreakTemplateDeclarations: Yes
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"(llvm|llvm-c|mlir|mlir-c|clang|clang-c)/'
    Priority:        2
    SortPriority:    2
  - Regex:           '^"(lumen)/'
    Priority:        3
    SortPriority:    3
  - Regex:           '^(<|"(gtest|gmock|isl|json)/)'
    Priority:        4
    Priority:        4
  - Regex:           '<[[:alnum:].]+>'
    Priority:        5
  - Regex:           '.*'
    Priority:        6
    SortPriority:    0
