version: 2
jobs:
  x86_64_build:
    docker:
      # `kronicdeth` is temporary until we get a DockerHub organization
      - image: kronicdeth/lumen-development
    resource_class: medium+
    steps:
      - checkout
      - run:
          name: Version Information
          command: rustc --version; cargo --version; rustup --version
      - restore_cache:
          keys:
            - v2-cargo-cache-x86_64-{{ checksum "Cargo.lock" }}
      - run:
          name: Build all targets
          command: cargo build --all --all-targets
      - save_cache:
          key: v2-cargo-cache-x86_64-{{ checksum "Cargo.lock" }}
          paths:
            - /usr/local/cargo/registry
            - target/debug/.fingerprint
            - target/debug/build
            - target/debug/deps
      - persist_to_workspace:
          root: .
          paths:
            - examples
            - liblumen_alloc
            - liblumen_alloc_macros
            - liblumen_arena
            - liblumen_beam
            - liblumen_codegen
            - liblumen_common
            - liblumen_compiler
            - liblumen_core
            - liblumen_diagnostics
            - liblumen_syntax
            - lumen
            - lumen_runtime
            - target/debug/.fingerprint
            - target/debug/build
            - target/debug/deps
            - .rustfmt.toml
            - Cargo.lock
            - Cargo.toml
            - Makefile
  wasm32_build:
    docker:
      # `kronicdeth` is temporary until we get a DockerHub organization
      - image: kronicdeth/lumen-development
    steps:
      - checkout
      - run:
          name: Version Information
          command: rustc --version; cargo --version; rustup --version
      - restore_cache:
          keys:
            - v2-cargo-cache-wasm32-{{ checksum "Cargo.lock" }}
      - run:
          working_directory: "lumen_runtime"
          command: wasm-pack build
      - save_cache:
          key: v2-cargo-cache-wasm32-{{ checksum "Cargo.lock" }}
          paths:
            - /usr/local/cargo/registry
            - target/debug/.fingerprint
            - target/debug/build
            - target/debug/deps
      - persist_to_workspace:
          root: .
          paths:
            - examples
            - liblumen_alloc
            - liblumen_alloc_macros
            - liblumen_arena
            - liblumen_beam
            - liblumen_codegen
            - liblumen_common
            - liblumen_compiler
            - liblumen_core
            - liblumen_diagnostics
            - liblumen_syntax
            - lumen
            - lumen_runtime
            - target/debug/.fingerprint
            - target/debug/build
            - target/debug/deps
            - .rustfmt.toml
            - Cargo.lock
            - Cargo.toml
            - Makefile
  check_formatted:
    docker:
      # `kronicdeth` is temporary until we get a DockerHub organization
      - image: kronicdeth/lumen-development
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Check formatting
          command: |
            rustfmt --version
            cargo fmt -- --check
  x86_64_multithreaded_test:
    docker:
      # `kronicdeth` is temporary until we get a DockerHub organization
      - image: kronicdeth/lumen-development
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Run all tests
          command: cargo test --all --all-targets --exclude spawn-chain
  x86_64_single_threaded_test:
    docker:
      # `kronicdeth` is temporary until we get a DockerHub organization
      - image: kronicdeth/lumen-development
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Run all tests
          command: cargo test --all-targets --package spawn-chain -- --test-threads=1
  chrome_test:
    docker:
      # `kronicdeth` is temporary until we get a DockerHub organization
      - image: kronicdeth/lumen-development
    steps:
      - attach_workspace:
          at: .
      - run:
          working_directory: "lumen_runtime"
          command: wasm-pack test --chrome --headless
  firefox_test:
    docker:
      # `kronicdeth` is temporary until we get a DockerHub organization
      - image: kronicdeth/lumen-development
    steps:
      - attach_workspace:
          at: .
      - run:
          working_directory: "lumen_runtime"
          command: wasm-pack test --firefox --headless
  node_test:
    docker:
      # `kronicdeth` is temporary until we get a DockerHub organization
      - image: kronicdeth/lumen-development
    steps:
      - attach_workspace:
          at: .
      - run:
          working_directory: "lumen_runtime"
          command: wasm-pack test --node
workflows:
  version: 2
  primary:
    jobs:
      - x86_64_build
      - wasm32_build
      - check_formatted:
          requires:
            - x86_64_build
      - x86_64_multithreaded_test:
          requires:
            - x86_64_build
      - x86_64_single_threaded_test:
          requires:
            - x86_64_build
      - chrome_test:
          requires:
            - wasm32_build
      - firefox_test:
          requires:
            - wasm32_build
      - node_test:
          requires:
            - wasm32_build
