[package]
name = "liblumen_compiler"
version = "0.1.0"
authors = ["Paul Schoenfelder <paulschoenfelder@gmail.com>"]
homepage = "https://github.com/lumen/lumen"
repository = "https://github.com/lumen/lumen"
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
lazy_static = "1.4"
rand = "0.7"
log = "0.4"
anyhow = "1.0"
thiserror = "1.0"
clap = "2.33.0"
walkdir = "2.2"
salsa = "0.14"
salsa-macros = "0.14"
num_cpus = "1.0"
crossbeam = "0.7"
futures = "0.3"
async-task = "1.3"
parking_lot = "0.10"

liblumen_session = { path = "../session" }
liblumen_target = { path = "../target" }
liblumen_codegen = { path = "../codegen" }
liblumen_util = { path = "../../liblumen_util" }
liblumen_core = { path = "../../liblumen_core" }
liblumen_llvm = { path = "../llvm" }
liblumen_mlir = { path = "../mlir" }

libeir_frontend = { git = "https://github.com/eirproject/eir", branch = "lumen" }
libeir_ir = { git = "https://github.com/eirproject/eir.git", branch = "lumen" }
libeir_intern = { git = "https://github.com/eirproject/eir.git", branch = "lumen" }
libeir_passes = { git = "https://github.com/eirproject/eir", branch = "lumen" }
libeir_syntax_erl = { git = "https://github.com/eirproject/eir.git", branch = "lumen" }

[build-dependencies]
which = "2.0"
