[package]
name = "liblumen_otp"
version = "0.1.0"
authors = ["Luke Imhoff <Kronic.Deth@gmail.com>"]
edition = "2018"
description = "The standard library for lumen.  The modules that are included with Erlang: `erlang` and `map`."

[lib]
crate-type = ["staticlib", "rlib"]

[dependencies]
anyhow = "1.0"
lazy_static = "1.2"
liblumen_alloc = { path = "../../liblumen_alloc" }
liblumen_core = { path = "../../liblumen_core" }
lumen_rt_full = { path = "../../runtimes/full", optional = true }
lumen_rt_minimal = { path = "../../runtimes/minimal", optional = true }
native_implemented = { path = "../macro" }
num-bigint = "0.2"
num-traits = "0.2"
radix_fmt = "1.0.0"
thiserror = "1.0"

[dependencies.hashbrown]
version = "0.7"
features = ["nightly"]

[target.'cfg(unix)'.dependencies]
proptest = "0.9.3"

[target.'cfg(windows)'.dependencies]
proptest = "0.9.3"

[target.'cfg(target_arch = "wasm32")'.dependencies.web-sys]
version = "0.3.20"
features = ['console']

[features]
runtime_full = ["lumen_rt_full"]
runtime_minimal = ["lumen_rt_minimal"]
